*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif
}
.container{
  max-width: 1024px;
  min-width: 400px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #fee;
}

.photo {
  border-radius: 100px;
  box-shadow: 0 0 0 0px lightblue, 0 0 10px lightblue;
}

h1 {
  padding: 0.5em;
  color: lightseagreen;
  text-align: center;
}

.desired-position{
  padding: 1em;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: lightseagreen;
}

.english-level p{
  text-indent: 1.5em;
  text-align: justify;
}

.code-example {
  display: none;
  padding: 1em;
  color: white;
  background-color: #1e1e1e;

}

span.blue{
  color:#79d2fe;
}

span.green{
  color:#a6e22d;
}

span.red{
  color:#f00;
}

span.emerald{
  color: #4ec9b0;
}

span.brown{
  color: #ce915b;
}

span.purple{
  color: #c586b5;
}
